{% extends 'base/base.html' %}
{% block page_content %}
{% load profile %}
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h3 class="text-primary">Delete Announce.</h3>
                        </div>
                        <form method="post" action="{% url 'delete announce' object.pk %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h4>Announce: {{ object.title }}</h4>
                            <h4 class="mb-5">Author: {{ object.author }}</h4>
                            <h6 class="text-primary mb-5">Are you sure?</h6>
                            <button type="submit" class="btn btn-outline-danger py-3 w-100 mb-4">Yes</button>
                        </form>
                        <a href="{% url 'announce' %}" class="btn btn-outline-primary py-3 w-100 mb-4">No</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}