{% extends 'base/base.html' %}
{% block page_content %}
{% load profile %}
    <div class="container-fluid pt-4 px-4">
        <div class="row w-100 g-4">
            <div class="col-sm-12">
                <div class="bg-light rounded h-100 p-4">
                    <h3 class="text-info mb-4">{{ object.names}} page.</h3>
                    <h5 class="mb-4">Last difference of: {{ object.difference }} kW</h5>
                    <h5 class="mb4">
                        You have
                        {% if object.old_debts %}
                            <a href="{% url 'client debts' object.pk %}" class="h5 mb-4"> {{ object.old_debts}} old debts</a>
                        {% else %}
                            not old debts
                        {% endif %}
                        , and have
                        {% if announce_count %}
                            <a href="{% url 'announce' %}" class="h5 mb-4"> {{ announce_count }} announces.</a>
                        {% else %}
                            not announces.
                        {% endif %}
                    </h5>
                    <canvas class="h-75 mb-5" id="line-chart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
        var parse_data = JSON.parse("{{ data|escapejs }}")
        var parse_labels = JSON.parse("{{ labels|escapejs }}")
        var parse_data_color = JSON.parse("{{ data_color|escapejs }}")
    </script>

{% endblock %}