{% extends 'base/base.html' %}
{% block page_content %}
{% load profile %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="h-100 bg-light rounded p-4">
                    {% csrf_token %}
                    {% if all_reported and master.reported %}
                        <div class="row d-flex align-items-center justify-content-between mb-4">
                            <h6 class="col mb-0 text-warning">Warning: Before start reporting, add to archive current data!</h6>
                            <a href="{% url 'add archive' %}" class="col btn btn-sm btn-outline-warning">Add to Archive</a>
                        </div>
                    {% endif %}
                    {% if report_master != 'done' %}
                        {% include 'report-clients.html' %}
                    {% endif %}
                    {% if not master.reported and report_master != 'done'%}
                        {% include 'report-master.html' %}
                    {% endif %}
                    {% if report_master == 'done' %}
                        <br/>
                        <div class="row d-flex align-items-center justify-content-between mb-4">
                            <h6 class="text-center text-success">All data successful reported.</h6>
                        </div>
                        <div class="row d-flex align-items-center justify-content-between mb-4">
                            <h6 class="text-center text-success">Clients units: {{ clients_kw }}kW.</h6>
                            <h6 class="text-center text-success">Master units: {{ master_kw }}kW.</h6>
                            {% diff_of clients_kw master_kw as diff %}
                            <h6 class="text-center text-{% if diff < 0 %}danger{% else %}success{% endif %}">
                                Difference: {{ diff }}kW.</h6>
                        </div>
                    {% endif %}
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}